<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome to Alquiler Equipos Sonido{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}">
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}
    </head>
    <body>
        <header>
            <h1>{% block header %}Alquiler Equipos Sonido{% endblock %}</h1>
            <nav>
                <ul>
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li><a href="{{ path('equipment') }}">Equipments</a></li>
                    <li><a href="{{ path('contact') }}">Contact</a></li>
                </ul>
            </nav>
        </header>
        
        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            <p>&copy; {{ "now"|date("Y") }} Alquiler Equipos Sonido. All rights reserved.</p>
        </footer>

        {% block javascripts %}
            <script src="{{ asset('scripts/app.js') }}"></script>
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </body>
</html>
